/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--content-text-ff), sans-serif;
  font-variation-settings: 'wght' var(--content-text-font-weight), 400;
  color: var(--text-color), #000;
  font-size: var(--content-font-size);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #000;
  max-inline-size: var(--cards-inline-size);
  background-color: #fff;
  margin-block: 100px;
  padding: var(--padding-block-header) var(--padding-inline-header);
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  font-family: var(--accent-text-ff), 'Arial', sans-serif;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-family: var(--accent-text-ff), 'Arial', sans-serif;
  text-wrap: nowrap;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  max-inline-size: var(--cards-inline-size);
  border: 2px solid #000;
  background-color: #fff;
  position: relative;
}

.card__title {
  padding: 5px 10px;
}

.card__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__text {
  padding-inline: 25px;
  padding-block-start: 27px;
  line-height: 21px;
}

.button__text {
  z-index: 1;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

.like-block {
  display: flex;
  margin-block-start: 27px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  justify-self: flex-end;
  flex-shrink: 0;
  gap: 6px;
  border: none;
  background-color: transparent;
}

.like-icon {
  block-size: 39px;
  inline-size: 36px;
  justify-self: end;
}

.contour {
  width: 24px;
  height: 27px;
}

.sparks {
  opacity: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon.is-liked .sparks {
  animation: sparks .3s .3s 1 ease-in;
}

.like-icon.is-liked .heart {
  animation: big-heart .3s ease-in .1s 1;
  transform-origin: center;
}

.main-body {
  transition: fill .3s .05s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
}

.like-icon:active .main-body {
  fill: var(--heart-color);
}


.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.core {
  transition: fill .3s 0s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}

.like-icon:active .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

.contour {
  transition: fill .3s .06s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
}

.card__icon-button {
  display: flex;
  border: none;
  background: transparent;
  max-block-size: 39px;
  align-self: end;
  justify-self: center;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
  transition: border .3s ease;
}

.card__like-button {
  font-family: var(--accent-text-ff);
  font-size: 14px;
  padding-block: 12px;
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid #000;
  line-height: 90%;
  font-weight: var(--content-text-font-weight);
  background-color: transparent;
  position: relative;
  overflow-y: hidden;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--text-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  display: block;
  background: var(--text-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.watermark {
  position: absolute;
  top: 60px;
  right: 25px;
  font-family: var(--accent-text-ff);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-color);
  text-shadow: 0px 0px 4px var(--watermark-stroke-color), #fff;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark {
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
    text-stroke: 1px var(--watermark-stroke-color);
    text-shadow: none;
  }
}

.card-start .card__image {
  filter: brightness(0.7);
}

.first-sprint-before .card__image {
  filter: grayscale(0.7) blur(2px) opacity(85%);
}

.first-sprint-after .card__image {
  filter: invert(80%);
}

.second-sprint-before .card__image {
  filter: brightness(0.8) saturate(120%)
}

.second-sprint-after .card__image {
  filter: hue-rotate(15deg) brightness(0.85) sepia(20%);
}

.third-sprint-before .card__image {
  filter: brightness(1.1);
}

.third-sprint-after .card__image {
  filter: blur(2px);
}

.fourth-sprint .card__image {
  filter: hue-rotate(10deg) brightness(0.85);
}

.button-floppy {
  display: flex;
  gap: 8px;
  padding: 15px 21px;
  border: 2px solid #000;
  margin-block-end: 104px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.floppy {
  display: block;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.button__text-floppy {
  font-family: var(--accent-text-ff);
  font-size: 14px;
  font-weight: var(--content-text-font-weight);
  line-height: 19px;
  text-wrap: nowrap;
  z-index: 1;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

dialog[open] {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content;
  column-gap: 20px;
  row-gap: 30px;
  padding: 30px;
  align-items: center;
  max-inline-size: 353px;
}

.floppy-modal {
  inline-size: 39px;
  block-size: 39px;
}

.modal-icon-text {
  font-size: 14px;
  font-family: var(--accent-text-ff);
  text-transform: uppercase;
  line-height: 150%;
  font-weight: var(--content-text-font-weight);
  color: #fff;
  mix-blend-mode: difference;
}

.modal-button {
  background-color: transparent;
  border: 2px solid #000;
  align-items: center;
  grid-column: 1 / 3;
  overflow: hidden;
  position: relative;
  min-block-size: 38px;
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(10px);
}

@media (width <= 375px) {
  .card__text {
    padding-inline-start: 25px;
    padding-inline-end: 28.95px;
    text-wrap: balance;
  }

  .button-floppy {
    flex-direction: column;
    padding: 15px 20.5px 11px 19.5px;
    margin-block-end: 100px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  dialog[open] {
    padding: 30px 42px;
  }
  
  .card-start .watermark {
    top: 79px;
  }
}